.pageContainer {
  display: flex;
  flex-direction: column;
  max-width: 935px;
  gap: 20px;
  margin: 0 auto;
  padding: 20px 45px 45px 45px;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.form {
  display: flex;
  gap: 40px;
}

.textareaContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.textarea {
  padding: 0.75rem 1rem;
  font-size: 14px;
  border: 1px solid var(--textarea-border);
  background-color: var(--textarea-bg);
  color: var(--textarea-text);
  border-radius: 0.5rem;
  resize: vertical;
  white-space: pre-line;
  overflow: hidden;
  min-height: 81px;
}

.charCount {
  font-size: 12px;
  color: var(--char-color);
  margin-top: 4px;
  margin-left: auto;
  text-align: right;
}

.image {
  position: relative;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 4 / 3;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: var(--image-bg);
}

.imageContainer {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.uploadButton {
  background-color: transparent;
  color: var(--upload-text);
  border: 1px solid var(--upload-border);
  width: 100%;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  transition: background-color 0.2s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.uploadButton:hover {
  background-color: var(--upload-hover-bg);
  color: var(--upload-hover-text);
}

.filterButtonsDiv {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.singleFilterBtn {
  padding: 6px 12px;
  border-radius: 4;
  background: #e6f0ff;
  cursor: "pointer";
  font-size: 14px;
}
.videoDiv {
  position: relative;
  width: 100%;
  max-width: 640;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}
@media (max-width: 600px) {
  .imageContainer {
    max-width: 600px;
  }

  .pageContainer {
    padding: 20px;
  }

  .pageContainer button {
    height: 40px;
    padding: 10px;
    width: 100%;
  }

  .form {
    flex-direction: column;
    gap: 20px;
  }
}
.Btns {
  display: flex;
  gap: 10px;
}

.takePictureBtn,
.closeBtn {
  height: 40px;
  align-self: flex-end;
  line-height: 1.2;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: var(--button-text);
  transition: background-color 0.2s ease;
}

.takePictureBtn {
  width: 90%;
  background-color: var(--button-bg);
}

.takePictureBtn:hover {
  background-color: var(--button-bg-hover);
}

.closeBtn {
  background-color: red;
}
