.commentForm {
  max-height: 300px;
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  background: var(--background);
}

.scrollContainer {
  overflow-y: auto;
  max-height: 108px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.inputWrapper textarea {
  flex-grow: 1;
  min-height: 36px;
  max-height: 108px;
  overflow-y: auto;
  resize: none;
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid var(--textarea-border);
  border-radius: 1.5rem;
  font-family: inherit;
  outline: none;
  transition: border 0.2s ease;
  line-height: 1.5;
  background-color: var(--textarea-bg);
  color: var(--textarea-text);
}

.inputWrapper textarea:focus {
  border-color: var(--button-bg);
  background-color: var(--textarea-bg);
}

.submitButton {
  background-color: transparent;
  padding: 6px 6px;
  color: var(--button-bg);
  border: none;
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
}

.submitButton:hover:not(:disabled) {
  color: var(--button-bg-hover);
}

.submitButton:disabled {
  color: var(--textarea-text);
  opacity: 0.6;
  cursor: not-allowed;
}

.error {
  color: var(--error-color);
  font-size: 12px;
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .commentForm {
    flex: none;
    max-height: none;
  }
}
@media (max-width: 800px) {
  .inputWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid var(--textarea-border); /* рамка здесь */
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--textarea-bg);
  }

  .inputWrapper textarea {
    flex: 1;
    border: none; /* рамки у textarea нет */
    padding: 10px 12px;
    background: transparent;
  }

  .submitButton {
    padding: 0 12px;
    font-size: 20px;
  }
}
