.commentForm {
  max-height: 300px;
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  background: var(--background);
}

.scrollContainer {
  overflow-y: auto;
  max-height: 108px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.inputWrapper textarea {
  flex-grow: 1;
  min-height: 36px;
  max-height: 108px;
  overflow-y: auto;
  resize: none;
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--textarea-border);
  border-radius: 0.8rem;
  font-family: inherit;
  outline: none;
  transition: border 0.2s ease;
  line-height: 1.5;
  background-color: var(--textarea-bg);
  color: var(--textarea-text);
}

.inputWrapper textarea:focus {
  border-color: var(--button-bg);
  background-color: var(--textarea-bg);
}

.submitButton {
  align-self: flex-end;
  padding: 6px 12px;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 15px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submitButton:hover:not(:disabled) {
  background-color: var(--button-bg-hover);
}

.submitButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.error {
  color: var(--error-color);
  font-size: 12px;
  margin-bottom: 4px;
}
