.commentsSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  word-wrap: break-word;
  padding-right: 4px;
  color: var(--text-primary);
}

.commentHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 6px;
}

.commentAvatar {
  border-radius: 50%;
  object-fit: cover;
}

.commentMeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.commentUsername {
  font-weight: 600;
  margin: 0;
  color: var(--foreground);
}

.commentDate {
  font-size: 12px;
  color: var(--char-color);
}

.commentContent {
  margin: 0;
  line-height: 1.4;
  white-space: pre-wrap;
  color: var(--text-primary);
}

.postContent {
  margin: 10px 0;
  font-size: 16px;
  color: var(--text-primary);
  white-space: pre-wrap;
  word-break: break-word;
}

.actionsWrapper {
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 10px;
}

.actionButton {
  background-color: transparent;
  border: none;
  color: var(--char-color);
  cursor: pointer;
}
.actionButton:hover {
  color: var(--button-bg);
}

.deleteButton {
  background-color: transparent;
  border: none;
  color: var(--char-color);
  cursor: pointer;
}

.deleteButton:hover {
  color: var(--delete-hover-color);
}

.deleteButtonMob {
  display: none;
  color: var(--char-color);
  background-color: transparent;
  font-size: 20px;
  padding: 10px;
  border: none;
}

@media (max-width: 820px) {
  .commentHeader {
    justify-content: space-between;
  }
  .deleteButtonMob {
    display: inline;
  }
  .deleteButton {
    display: none;
  }

  .commentBlock {
    border-bottom: 1px solid var(--divider2);
  }
}

.noCommentsWrapper h4 {
  font-size: 18px;
}
.noCommentsWrapper p {
  font-size: 14px;
  color: var(--char-color);
}

.noCommentsWrapper {
  display: flex;
  margin-top: 20px;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-primary);
}
