.commentForm {
  max-height: 300px; /* или что-то подходящее под твой дизайн */
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  background: white;
}

.scrollContainer {
  overflow-y: auto;
  max-height: 108px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.inputWrapper textarea {
  flex-grow: 1;
  min-height: 36px;
  max-height: 108px;
  overflow-y: auto;
  resize: none;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
  font-family: inherit;
  outline: none;
  transition: border 0.2s ease;
  line-height: 1.5;
}

.inputWrapper textarea:focus {
  border-color: #0070f3;
  background-color: #fff;
}

.submitButton {
  align-self: flex-end;
  padding: 6px 12px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 15px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submitButton:hover:not(:disabled) {
  background-color: #0059c1;
}

.submitButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 4px;
}
