.container {
  max-width: 935px;
  width: 100%;
  margin: 0rem auto;
  padding: 20px 45px 45px 45px;
  background-color: var(--background);
  color: var(--foreground);
}

.userName {
  display: flex;
  align-items: center;
}

.empty {
  text-align: center;
  color: var(--char-color);
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.item {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  width: 100%;
  background-color: var(--hover-bg);
  border-radius: 0.5rem;
  color: var(--text-primary);
}
.item:hover {
  background-color: var(--hover-bg-active);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.image {
  border: 1px solid var(--border-alt);
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.noPaddingContainer {
  padding: 0;
}
