.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(-45deg, #fafafa, #f4f4f4, #fafafa, #f4f4f4);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 400px;
  width: 90vw;
  padding: 24px;
  background-color: white;
  border: 1px solid #dbdbdb;
  text-align: center;
  color: #333;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo {
  margin-bottom: 40px;
}

.container h2 {
  font-size: 1.6rem;
  margin-bottom: 25px;
}

.container p {
  font-size: 1rem;
  margin-bottom: 12px;
  line-height: 1.5;
}

.container a {
  color: #0070f3;
  text-decoration: none;
  font-weight: 600;
}

.container a:hover,
.container a:focus {
  text-decoration: underline;
  outline: none;
  cursor: pointer;
}
