:root {
  --background: #ffffff;
  --bg: #fafafa;
  --card-bg: #ffffff;
  --card-border: #dbdbdb;

  --foreground: #171717;
  --border: #ccc;
  --border-alt: #e1e1e1;
  --divider: #eee;
  --hover-bg: #f5f5f5;
  --hover-bg-active: #e7e7e7;
  --text-primary: #333;
  --icon-border: black;
  --icon-bg: black;
  --icon-color-light: white;
  --dropdown-bg: white;
  --section-color-inactive-light: #dbdbdb;
  --section-color-active-light: #262626;
  --error-color: red;
  --delete-hover-color: #d9363e;

  /* accent */
  --accent: #0095f6;
  --accent-hover: #007ac9;

  --text-muted: #737373;
  --input-bg: #fafafa;
  --input-border: #dbdbdb;

  /* ... */
  --button-bg: #0070f3;
  --button-bg-hover: #0059c1;
  --button-text: #ffffff;

  --textarea-border: #ddd;
  --textarea-bg: #ffffff;
  --textarea-text: #171717;

  --char-color: #666;

  --image-bg: #f0f0f0;

  --upload-border: #0070f3;
  --upload-text: #0070f3;
  --upload-hover-bg: #0059c1;
  --upload-hover-text: #ffffff;

  --skeleton-base: #ccc;
  --skeleton-highlight: #eee;
}

[data-theme="dark"] {
  --accent: #339af0;
  --accent-hover: #1c7ed6;
  --text-muted: #aaa;
  --input-bg: #2a2a2a;
  --input-border: #444;

  --background: #121212;
  --bg: #161616;
  --card-bg: #121212;
  --card-border: #333;

  --foreground: #eee;
  --border: #444;
  --border-alt: #555;
  --divider: #333;
  --hover-bg: #222;
  --hover-bg-active: #2b2b2b;
  --text-primary: #ddd;
  --icon-border: #ccc;
  --icon-bg: #ccc;
  --icon-color-light: #121212;
  --dropdown-bg: #222;
  --section-color-inactive-light: #616161;
  --section-color-active-light: #dbdbdb;
  --error-color: red;

  /* ... */
  --button-bg: #3390ff;
  --button-bg-hover: #0070f3;
  --button-text: #fff;

  --textarea-border: #555;
  --textarea-bg: #1c1c1c;
  --textarea-text: #ddd;

  --char-color: #aaa;

  --image-bg: #2a2a2a;

  --upload-border: #3390ff;
  --upload-text: #3390ff;
  --upload-hover-bg: #3390ff;
  --upload-hover-text: #121212;
  --delete-hover-color: #ff5f66;

  --skeleton-base: #555;
  --skeleton-highlight: #444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #339af0;
    --accent-hover: #1c7ed6;
    --text-muted: #aaa;
    --input-bg: #2a2a2a;
    --input-border: #444;

    --background: #121212;
    --bg: #161616;
    --card-bg: #121212;
    --card-border: #333;

    --foreground: #eee;
    --border: #444;
    --border-alt: #555;
    --divider: #333;
    --hover-bg: #222;
    --text-primary: #ddd;
    --icon-border: #ccc;
    --icon-bg: #ccc;
    --icon-color-light: #121212;
    --dropdown-bg: #222;
    --section-color-inactive-light: #262626;
    --section-color-active-light: #dbdbdb;
    --error-color: red;

    /* ... */
    --button-bg: #3390ff;
    --button-bg-hover: #0070f3;
    --button-text: #fff;

    --textarea-border: #555;
    --textarea-bg: #1c1c1c;
    --textarea-text: #ddd;

    --char-color: #aaa;

    --image-bg: #2a2a2a;

    --upload-border: #3390ff;
    --upload-text: #3390ff;
    --upload-hover-bg: #3390ff;
    --upload-hover-text: #121212;
    --delete-hover-color: #ff5f66;

    --skeleton-base: #555;
    --skeleton-highlight: #444;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
