.fullscreenCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg);
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 150px;
  padding: 40px;
  flex-wrap: wrap;
}

.imageWrapper {
  flex: 1;
  max-width: 600px;
  min-width: 500px;
}

@media (max-width: 1000px) {
  .imageWrapper {
    display: none;
  }
}

@media (max-width: 1400px) {
  .container {
    gap: 100px;
  }
}

@media (max-width: 1200px) {
  .container {
    gap: 60px;
  }
}

.formWrapper {
  flex: 1;
  max-width: 600px;
}
