.profileContainer {
  max-width: 935px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  padding: 20px 100px 45px 70px;
  align-items: flex-start;
}

.profileContainer h2 {
  font-size: 20px;
  font-weight: normal;
}

.profileContainer h3 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.profileContainer p {
  font-size: 14px;
  font-weight: normal;
}

.avatar {
  width: 120px;
  height: 120px;
  border: 2px solid #e1e1e1;
  border-radius: 50%;
  object-fit: cover;
}

.profileInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileInfo h2 {
  margin: 0;
  font-size: 24px;
}

.profileInfo p {
  margin: 8px 0;
  font-size: 16px;
  color: #333;
}

.button {
  background-color: #0095f6;
  border: none;
  padding: 8px 15px;
  color: white;
  font-weight: normal;
  border-radius: 4px;
  cursor: pointer;
}
.usernamePanel {
  display: flex;
  gap: 15px;
  align-items: center;
}
