.profileSettingsContainer {
  max-width: 935px;
  margin: 0rem auto;
  padding: 20px 40px;
}

.profileSettingsContainer h1 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #222;
}

.avatarPreview {
  border-radius: 50%;
  margin-top: 0.5rem;
  border: 2px solid #ddd;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.profileSettingsContainer form {
  display: flex;
  flex-direction: column;
}

.profileSettingsContainer label {
  font-weight: 600;
  color: #333;
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
}

.profileSettingsContainer input:focus,
.profileSettingsContainer textarea:focus {
  outline: none;
  border-color: #0070f3;
}

.profileSettingsContainer textarea,
.profileSettingsContainer input {
  resize: vertical;
  padding: 0.5rem 0.75rem;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background: #fafafa;
  font-size: 14px;
  width: 100%;
  padding-right: 50px;
  box-sizing: border-box;
}

.button {
  background-color: #0095f6;
  border: none;
  padding: 8px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
